@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
    display: flex;
    background-color: rgb(11, 19, 38);
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.dihv{
    display: flex;
    background-color:   rgb(11, 19, 38);
    border:             3px solid rgba(173, 184, 208, .25);
    color:              rgba(173, 184, 208, .5);
    width: 30rem;
    height: 5rem;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', serif;
}